* {
	padding: 0;
	margin: 0;
	font-family: Arial, sans-serif;
}

body {
	background-image: url(https://wpapers.ru/wallpapers/All/12612/1920x1080_%D0%A2%D0%B5%D0%BA%D1%81%D1%82%D1%83%D1%80%D0%B0-%D1%84%D0%B8%D0%BE%D0%BB%D0%B5%D1%82%D0%BE%D0%B2%D0%BE%D0%B3%D0%BE-%D0%B4%D0%B5%D1%80%D0%B5%D0%B2%D0%B0.jpg);
	background-size: cover;
}

header h1{
	display: inline-block;
	float: left;
	margin: 50px 0 0 50px;
}

header img {
	float: left;
}

header, footer {
	width: 100%;
	height: 120px;
}

nav {
	margin: 0 auto;
	box-sizing: border-box;
}

nav a {
	padding: 5px 10px;
	color: #000;
	text-decoration: none;
}

nav a:hover {
	background-color: #555;
	color: #000;
	text-decoration: none;
	border-radius: 5px;
}

footer h4 {
	text-align: center;
	box-sizing: border-box;
	padding: 50px 0 0 0;
}

p {
	padding: 10px 0;
}

ul {
	list-style: none;
	margin: 20px 0;
}

#links li {
	margin: 10px 0;
}

#links {
	margin: 10px 0;
	list-style-position: inside;
}

tr:nth-child(2n) {
	background-color: lightgray;
}

table {
	border-collapse: collapse;
	margin: 20px auto;
}

table td, th {
	padding: 5px 10px;
	border: 1px solid #000;
}

td, th {
	text-align: center;
}

form * {
	margin: 5px 0;
	padding: 2px 5px;
}

.logo {
	width: 100px;
	border: 2px solid #ccc;
	margin: 10px;
	box-sizing: border-box;
}

.width-content {
	max-width: 960px;
	margin: 0 auto;
}

.content, header, footer {
	background-color: #b6b9e6;
}

.content {
	margin: 20px auto;
	padding: 20px 15px;
	box-sizing: border-box;
	overflow: hidden;
	text-align: center;
	border: 2px solid gray;
}

.sumbit {
	padding: 3px 10px;
}
